# Cilium Helm Chart Values
operator:
  replicas: {{ cilium_operator_replicas | default(1) }}

ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - {{ cluster_cidr }}

l2announcements:
  enabled: {{ cilium_l2 | default(false)}}

externalIPs:
  enabled: {{ cilium_l2 | default(false)}}

{% if cilium_l2 == "true" %}
devices: {{ cilium_l2_interface | default("") }}
{% endif %}

{% if cilium_l2_qps is defined and cilium_l2_burst is defined %}
k8sClientRateLimit:
  qps: {{ cilium_l2_qps }}
  burst: {{ cilium_l2_burst }}
{% endif %}

{% if cilium_mode == "native" %}
ipv4NativeRoutingCIDR: {{ cluster_cidr }}
{% endif %}

k8sServiceHost: {{ api_endpoint | default('127.0.0.1') }}
k8sServicePort: {{ api_port | default('6443') }}

routingMode: {{ cilium_mode | default("tunnel") }}
autoDirectNodeRoutes: {{ "true" if cilium_mode == "native" else "false" }}

kubeProxyReplacement: {{ kube_proxy_replacement | default("false") }}

bpf:
  masquerade: {{ enable_bpf_masquerade | default(false) }}

hubble:
  enabled: {{ cilium_hubble | default(false) }}
  relay:
    enabled: {{ cilium_hubble | default(false) }}
  ui:
    enabled: {{ cilium_hubble | default(false) }}
    service:
      type: {{ cilium_hubble_service_type | default('ClusterIP') }} 
{% if cilium_hubble_service_type == "NodePort" %}
      nodePort: {{ cilium_hubble_ui_nodeport | default("") }}
{% endif %}
