apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ item.name }}
  namespace: {{ metallb_namespace }}
spec:
  addresses:
{% for address in item.addresses %}
  - {{ address }}
{% endfor %}
{% if item.auto_assign is defined %}
  autoAssign: {{ item.auto_assign | bool | lower }}
{% endif %}
{% if item.avoid_buggy_ips is defined %}
  avoidBuggyIPs: {{ item.avoid_buggy_ips | bool | lower }}
{% endif %}