apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-l2advertisement
  namespace: {{ metallb_namespace }}
spec:
  ipAddressPools:
{% for pool in metallb_ip_pools %}
  - {{ pool.name }}
{% endfor %}